.col-md-12.column
  %a#modal-316790.btn{"data-toggle" => "modal", href: "#modal-container-316790", role: "button"}
    Registrar carrera
  #modal-container-316790.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
    .modal-dialog{style: "width:350px; height:40px; text-align:center; font-size:14px; font-family: Arial;"}
      .modal-content
        .modal-header
          %h4.panel-title.text-success.text-center
            Registrando carrera
        .modal-body
          = render 'form'
          %nobr
          = link_to 'Cancelar', carreras_path ,:class => 'btn btn-warning' 