.container
  .row.clearfix
    %h3.text-center.text-success
      Bienvenido Usuario
    .col-md-20.column
      %table.table.table-hover
        %thead
          %tr
            %th
              Correo electrónico
            %th
              Opciones
        %tbody
          - @profiles.each do |profile|
            %tr
              %td
                = profile.user.email
              %td
                = link_to 'Completa tu perfil', edit_profile_path(profile), :class => 'btn btn-info', :id => "editar-btn"

      .colspan14
        = link_to 'Cerrar sesion', destroy_user_session_path(), method: :delete, :class => 'btn btn-danger'