<head>
	<meta charset="utf-8" />
		<h3 class="text-center text-success">
		Completa tu perfil
		</h3>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="col-md-12 column">
	 <a id="modal-316790" href="#modal-container-316790" role="button" class="btn" data-toggle="modal">Completa tu perfil
	 </a>

   <%= render 'form' %>

</body>