.col-md-12.column
  %a#modal-316790.btn{"data-toggle" => "modal", href: "#modal-container-316790", role: "button"}
    Editar Materia
  #modal-container-316790.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
    .modal-dialog{align: "center", style: "width:350px; height:40px; border:1px solid #ccc; text-align:center; font-size:14px; font-family: Arial;"}
      .modal-content
        .modal-header
          Editando Materia
        .modal-body
          = render 'form'
        .modal-footer
          = link_to 'Mostrar', @subject ,:class => 'btn btn-info'
          = link_to 'Cancelar', subjects_path ,:class => 'btn btn-warning'