%br
.container
  .row.clearfix
    .col-md-12.column
      %ul.nav.nav-pills
        %li.active
          %a{href: "#"} Inicio
        %li
          %a{href: "#"} Solicitar cuenta
        %li
          %a{href: "/profiles"} Ver perfil
        %li.dropdown.pull-right
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Acciones
            %strong.caret
          %ul.dropdown-menu
            %li
              %a{href: "/users/sign_in"} Iniciar Sesión
            %li
              %a{href: "#"} Otros